/* -------------------------------------------------------------------------- */
/*                              General settings                              */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header,
.landing,
.brends,
.foot-wrap {
  max-width: 1100px;
  margin: auto;
  display: flex;
  padding: 20px;
}

p {
  font-size: 20px;
  margin: 10px 0px;
  margin-bottom: 20px;
  line-height: 1.6;
}

a {
  font-size: 13px;
}

.button {
  color: white;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #21bd58;
  padding: 11px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #178e42;
}

/* -------------------------------------------------------------------------- */
/*                               Header section                               */
/* -------------------------------------------------------------------------- */

header {
  font-size: 15px;
  height: 5vh;
  margin: auto;
  justify-content: flex-start;
}

.logo {
  margin-right: 6px;
}

.logo img {
  width: 80px;
  height: 5vh;
  object-position: center;
  object-fit: cover;
}

.menu {
  width: 50%;
  margin-right: auto;
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  margin: 0px 15px;
}

.menu li:hover {
  border-top: 2px solid #21bd58;
}

.menu li a,
.login a,
.val-link a {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
}

.login {
  margin-left: 10px;
}

.menu li span {
  margin-left: 5px;
  font-size: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
.contact button {
  margin-left: auto;
}

/* -------------------------------------------------------------------------- */
/*                               Landing section                              */
/* -------------------------------------------------------------------------- */

.landing {
  margin-top: 10px;
  align-items: center;
}

.cta {
  width: 500px;
}

.cta h1 {
  font-size: 52px;
  margin-bottom: 18px;
}

.video {
  width: 400px;
  margin-left: auto;
  object-fit: contain;
}

/* -------------------------------------------------------------------------- */
/*                               Brends section                               */
/* -------------------------------------------------------------------------- */

.brends {
  padding: 25px 0px;
}

/* -------------------------------------------------------------------------- */
/*                               Values section                               */
/* -------------------------------------------------------------------------- */

.values {
  width: 100vw;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f6f9;
}

.values > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 70px 10px;
  text-align: center;
}

.values img {
  width: 40px;
  height: 40px;
}

.values h2 {
  margin: 20px 0px;
  font-size: 28px;
}

.val-link {
  margin-top: 20px;
}

.val-link a {
  color: #21bd58;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer {
  width: 100vw;
  background-color: #01122b;
}

.foot-wrap {
  display: flex;
  border-bottom: 1px solid #384760;
}

.foot-nav {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.foot-nav a {
  text-decoration: none;
  color: white;
  padding: 8px 0px;
}

.foot-nav a:first-of-type {
  font-weight: 900;
}

/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */
